<div class="toast show">
  <div class="toast-header">
    <strong class="me-auto ms-3 fs-6">{{companyName}}</strong>
    <span class="me-auto ms-3 fs-8">({{symbol}})</span>
    <button type="button" 
            id="remove{{symbol}}"
            class="btn-close me-3" 
            data-bs-dismiss="toast"
            (click)="onClick()"
            ></button>
  </div>
  <div class="toast-body">
    <div class="row">
      <div class="col-md-5 text-center">
        <div class=" ms-2 mb-1">
          Change today: <span>{{d}}%</span>
        </div>
        <div class="ms-2">
          Current price: <span>{{c| currency:'USD':'symbol':'1.3-3'}}</span>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="mb-1">
          Opening price: <span>{{o | currency:'USD':'symbol':'1.3-3'}}</span>
        </div>
        <div>
          Highest price: <span>{{h | currency:'USD':'symbol':'1.3-3'}}</span>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <app-arrow
          [arrow]='d>0?true:false'
        ></app-arrow>
      </div>
    </div>
    <hr>
    <div class="row ">
      <a  class="text-decoration-none text-center" 
          [routerLink]="['sentiment',symbol]"
          id="sentiment{{symbol}}"
          >
          Go to sentiment details
      </a>
    </div>
  </div>
</div>